/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* THE ENTIRE APPLICATION'S BACKGROUND */
body {
  background-color: rgb(19, 19, 19);
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.App {
  text-align: center;
}

.App .Intro {
  background-color: yellow;
  background-image: url('https://i.giphy.com/media/Ph0oIVQeuvh0k/giphy.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;  
}

/** =-=-=-=-=-=-=-=-=-=-=N A V I G A T I O N BAR */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;  
}

.navbar ul li {
  font-family: 'Geo', sans-serif;
  color: yellow;
  float: right;
  display: block;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
}
/** =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.artist {
  background-color: blueviolet;
  border-radius: 25px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  font-family: Geo;
}

.artist-profile-image {
  height: 200px;
  border-radius: 80px;
}

.artwork-image {
  height: 200px;
  border-radius: 25px;
}

.showcase {
  background-color: black;
  border-radius: 20px;
  margin: 20px;
}

.artworks {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.artwork {
  padding: 20px;
  background-color: darkblue;
  border-radius: 20px;
  margin: 10px;
}

/*! =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.like-button {
  background-color: red;
  background: $baseColor;
  border: 3px solid;
  border-radius: 100%;
  cursor: pointer;
  height: 30px;
  width: 30px;  
}
/*! =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/*? =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.artist-header {
  /* GOOGLE FONT IMPLEMENTATION */
  font-family: 'VT323', monospace;
  /* =-=-=-=-=-=-=-=-=-=-=-=-=-= */  
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem black;
  
  text-align: left;
  background-color: darkblue;
  border-radius: 10px;;
  padding: 25px;
  margin: 50px; 
  color: darkgoldenrod;
}

.artist-header h1 {  
  letter-spacing: 10px;
  color: #e19710;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);      
}
.artist-contact {  
  font-family: Geo;
  color: #e19710;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);    
  text-align: right;  
}
/*? =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.artwork-index {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  flex-wrap: wrap;
}


.indexed-artwork {
  background-color: rgb(99, 69, 126);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}
/*? =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */