/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* THE ENTIRE APPLICATION'S BACKGROUND */
body {
  background-color: rgb(19, 19, 19);
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.App {
  text-align: center;
}

.App .Intro {
  background-color: yellow;
  background-image: url('https://i.giphy.com/media/Ph0oIVQeuvh0k/giphy.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;  
}

/** =-=-=-=-=-=-=-=-=-=-=N A V I G A T I O N BAR */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;  
}

.navbar ul li {
  float: right;
  display: block;
  text-align: center;
  padding: 10px 15px;
}

.n-button {
  font-family: 'Geo', sans-serif;
  font-size: 15pt;
  background-image: linear-gradient(to bottom right, purple, magenta);
  border-radius: 10%;
  padding: 10px;
  color: yellow;
  text-shadow: 1px 1px blue;
  box-shadow: 3px 3px yellow;
  border-color: orange;
}
.n-button:hover {
  background-image: linear-gradient(to bottom right, magenta, rgb(48, 0, 48));
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px gray;
  box-shadow: 0px 0px yellow;
}
.n-button:active {
  color: red;
}
/** =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.showcase {
  font-family: 'VT323', monospace;
  background-color: black;
  color: yellow;
  border-radius: 20px;
  /* MARGIN SHORTHAND : TOP RIGHT BOTTOM LEFT */
  margin: -45px 20px 20px 20px;
}

.showcase h1 {
  font-size: 60pt;
  letter-spacing: 10pt;
  text-shadow: 2px 2px red;
  padding-top: 50px;
}
.showcase h2 {
  font-size: 20pt;
  letter-spacing: 5pt;
  padding-bottom: 30px;
  text-shadow: 2px 2px blue;

}
/* SHOWCASE CONTAINER FEATURING ARTIST'S HUMAN IMAGE AND INFO */
.s-container {
  padding-right: 90px;  
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
        /* LEFT SIDE OF THE ARTIST'S INFO CONTAINER*/
        .s-left {
          flex: 1;          
        }
        .s-left img {
          height: 300px; 
          border-radius: 50%;
          border-style: dotted solid;
          border-width: 7px;
          border-color: purple;
          box-shadow: 2px 2px blue;

        }
        
        /* RIGHT SIDE OF THE ARTIST'S INFO CONTAINER*/
        .s-right {
          flex: 1;          
          color: purple;
          font-size: 25px;
          border-style: solid dotted;    
          text-shadow: 1px 1px red;     
          box-shadow: 2px 2px blue; 
        }
/** =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.artist {
  background-color: blueviolet;
  border-radius: 25px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  font-family: Geo;
}

.artist-profile-image {
  height: 200px;
  border-radius: 80px;
}

.artwork-image {
  height: 200px;
  border-radius: 25px;
  box-shadow: 2px 2px rgb(78, 2, 2);
}


.artworks {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.artwork {
  padding: 20px;
  background-image: linear-gradient(to bottom right, darkblue, rgb(1, 1, 88));
  border-radius: 20px;
  margin: 10px;
  text-shadow: 2px 2px red;
  box-shadow: 2px 2px red;
}

/*? =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.artist-header {
  /* GOOGLE FONT IMPLEMENTATION */
  font-family: 'VT323', monospace;
  /* =-=-=-=-=-=-=-=-=-=-=-=-=-= */  
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem black;
  
  text-align: left;
  background-color: darkblue;
  border-radius: 10px;;
  padding: 25px;
  margin: 50px; 
  color: darkgoldenrod;
}

.artist-header h1 {  
  letter-spacing: 10px;
  color: #e19710;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);      
}
.artist-contact {  
  font-family: Geo;
  color: #e19710;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);    
  text-align: right;  
}
/*? =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* ------------A R T W O R K   I N D E X   P A G E */
.artwork-index {
  font-family: 'VT323', monospace;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.indexed-artwork {
  background-color: rgb(99, 69, 126);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px white;
  /* CONTROL HOW MANY ITEMS APPEAR PER ROW */
  flex: 25%;
}
.indexed-artwork img {
  box-shadow: 0px 0px 3px rgb(255, 0, 0);
  height: 200px;
}
.indexed-artwork h2 {
  font-size: 35px;
  color: rgb(211, 0, 0);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);    
  text-decoration: underline;     
}
.indexed-artwork p {
  font-style: italic;
  text-align: left;
  margin-top: 1px;
  color: black;
}
/*? =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/*! =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.like-button {
  background-color: rgba(193, 0, 0, 0.626);
  border: 3px solid;
  border-radius: 100%;
  cursor: pointer;
  height: 30px;
  width: 30px;  
  box-shadow: 1px 1px 1px white;
  float: right;
}
/*! =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */